@page "/"

@using Backi.Timers
@using CoreBluetooth
@using CoreFoundation
@using Microsoft.Extensions.Logging

<h3>BLE scan (bare)</h3>
<h3>State: @_stateString</h3>

<button @onclick="ScanFresh">Fresh Scan</button>
<button @onclick="Stop">Stop</button>

<span>Found: @_items.Count</span>

<ul>
    @foreach (var e in _items.Values)
    {
        <li>
            @e.RSSI?.Int32Value
            · @e.Peripheral?.Identifier.AsString()
            · @e.Peripheral?.Name
        </li>
    }
</ul>

@inject ILogger<Home> logger

@code
{
    string _stateString = "";
    readonly Dictionary<string, CBDiscoveredPeripheralEventArgs> _items = new();
    readonly CBCentralManager _central = new(dispatchQueue: DispatchQueue.MainQueue);

    protected override void OnInitialized()
    {
        _central.DiscoveredPeripheral += (_, e) =>
        {
            var id = e.Peripheral.Identifier.ToString();
            var name = e.Peripheral.Name;
            if (!String.IsNullOrWhiteSpace(name))
            {
                _items[id] = e;
                InvokeAsync(StateHasChanged);
            }
        };

        SafeTimer.RunNowAndPeriodically(
            TimeSpan.FromSeconds(2),
            () =>
            {
                _stateString = $"{_central.State}";
                InvokeAsync(StateHasChanged);
            },
            ex => logger.LogError(ex, "Error while refreshing state view")
        );

        ScanFresh();
    } 
    
    void ScanFresh()
    {
        _items.Clear();
        
        if (_central.State == CBManagerState.PoweredOn)
        {
            _central.ScanForPeripherals(peripheralUuids: null);    
        }
    }

    void Stop()
    {
        _central.StopScan();
    }
}

