@page "/"
@* @implements IDisposable *@
@inherits SubscriberComponent

@using Backi.Timers
@using CommunityToolkit.Maui.Alerts
@using CoreBluetooth
@using CoreFoundation
@using Microsoft.Extensions.Logging
@using Nativno.Bluetooth.Mac.Playground.Helpers

<h3>BLE scan (bare)</h3>
<h3>State: @_stateString</h3>

<button @onclick="ScanFresh">Fresh Scan</button>
<button @onclick="Stop">Stop</button>

<span>Found: @_tracker.Items.Count</span>

<ul>
    @foreach (var (k, e) in _tracker.Items)
    {
        @* <PeripheralInfoView PeripheralId="@k">
            <button @onclick="() => Connect(k)">Connect</button>
        </PeripheralInfoView> *@
        
        <li>
            @e.Discovery.Peripheral.RSSI?.Int32Value
            · @e.Discovery.Peripheral.Identifier.AsString()
            · @e.Discovery.Peripheral.Name
            · @e.ConnectionState
            @if (e.ConnectionState == PeripheralConnectionState.Disconnected)
            {
                <span> · </span>
                <button @onclick="() => Connect(e.Discovery.Peripheral.Identifier.ToString())">Connect</button>
            }
            @if (e.ConnectionState == PeripheralConnectionState.Connected)
            {
                <span> · </span>
                <button @onclick="() => Disconnect(e.Discovery.Peripheral.Identifier.ToString())">Disconnect</button>
            }
        </li>
    }
</ul>

@inject ILogger<Home> _logger
@inject TrackedPeripheralCollection _tracker
@inject CBCentralManager _central

@code
{
    string _stateString = "";
    readonly Dictionary<string, CBDiscoveredPeripheralEventArgs> _items = new();
    readonly List<IDisposable> _subscriptions = new();
    SafeTimer? _timer;

    protected override void OnInitialized()
    {
        _tracker.SubscribeToPeripheralsDiscoveries(_central);
        _tracker.SubscribeToConnectionStatuses(_central);

        _tracker.ConnectionStatusUpdatedNotifier.AddListener(c => _logger.LogInformation("Connection status updated {Peripheral} {State}", c.Discovery.Peripheral.Name, c.ConnectionState));

        SubscribeStateHasChangedTo(_tracker.ListUpdatedNotifier);
        SubscribeStateHasChangedTo(_tracker.ConnectionStatusUpdatedNotifier);
        SubscribeTo(_tracker.ConnectionStatusUpdatedNotifier, c => Toast.Make($"{c.Discovery.Peripheral.Name} {c.ConnectionState}").Show());
        
        _timer = SafeTimer.RunNowAndPeriodically(
            TimeSpan.FromSeconds(2),
            () =>
            {
                _tracker.RemoveOldDiscoveries(TimeSpan.FromSeconds(5));
                _stateString = $"{_central.State}";
                InvokeAsync(StateHasChanged);
            },
            ex => _logger.LogError(ex, "Error while refreshing state view")
        );

        ScanFresh();
    } 
    
    void ScanFresh()
    {
        _tracker.Items.Clear();
        
        if (_central.State == CBManagerState.PoweredOn)
        {
            _central.ScanForPeripherals(peripheralUuids: null);    
        }
    }

    void Connect(string peripheralId)
    {
        var peripheral = _tracker.Items[peripheralId].Discovery.Peripheral;
        
        _logger.LogInformation("initiating connection to {peripheral}", peripheral);
        
        _central.ConnectPeripheral(peripheral);
        _tracker.UpdateConnectionStatus(peripheral, PeripheralConnectionState.Connecting);
    }

    void Disconnect(string peripheralId)
    {
        var peripheral = _tracker.Items[peripheralId].Discovery.Peripheral;
        
        _logger.LogInformation("initiating connection to {peripheral}", peripheral);
        
        _central.CancelPeripheralConnection(peripheral);
    }

    void Stop() => _central.StopScan();

    public override void DisposeAdditionally() => _timer?.Stop();
}