@page "/"

@using Backi.Timers
@using CommunityToolkit.Maui.Alerts
@using CoreBluetooth
@using CoreFoundation
@using Microsoft.Extensions.Logging

<h3>BLE scan (bare)</h3>
<h3>State: @_stateString</h3>

<button @onclick="ScanFresh">Fresh Scan</button>
<button @onclick="Stop">Stop</button>

<span>Found: @peripherals.Discoveries.Count</span>

<ul>
    @foreach (var (k, _) in peripherals.Discoveries)
    {
        <PeripheralInfoView PeripheralId="@k">
            <button @onclick="() => Connect(k)">Connect</button>
        </PeripheralInfoView>
        
        @* <li> *@
        @*     @e.RSSI?.Int32Value *@
        @*     · @e.Peripheral?.Identifier.AsString() *@
        @*     · @e.Peripheral?.Name *@
        @*     · <button @onclick="() => Connect(e.Peripheral!.Identifier.ToString())">Connect</button> *@
        @*     <ul> *@
        @*     @foreach (var ad in e.AdvertisementData) *@
        @*     { *@
        @*         <li> *@
        @*             @ad.Key.ToString().Replace("kCBAdvData", "") : @ad.Value *@
        @*         </li> *@
        @*     } *@
        @*     </ul> *@
        @* </li> *@
    }
</ul>

@inject ILogger<Home> logger
@inject PeripheralsCollection peripherals
@inject CBCentralManager _central

@code
{
    string _stateString = "";
    readonly Dictionary<string, CBDiscoveredPeripheralEventArgs> _items = new();
    // readonly CBCentralManager _central = new(dispatchQueue: DispatchQueue.MainQueue);

    protected override void OnInitialized()
    {
        _central.DiscoveredPeripheral += (_, e) =>
        {
            peripherals.PutIfPeripheralIsNamed(e);
            InvokeAsync(StateHasChanged);
        };

        _central.ConnectedPeripheral += (_, e) => logger.LogInformation("connected, {event}", e);
        _central.FailedToConnectPeripheral += (_, e) => logger.LogInformation("failed to connect");
        _central.DidDisconnectPeripheral  += (_, e) => logger.LogInformation("did disconnect peripheral");
        
        peripherals.SubscribeOnConnectionEvent(_central);

        _central.ConnectedPeripheral += (_, e) => peripherals.Connected = e.Peripheral;
        _central.ConnectedPeripheral += async (_, e) => await Toast.Make("Connected").Show();

        SafeTimer.RunNowAndPeriodically(
            TimeSpan.FromSeconds(2),
            () =>
            {
                _stateString = $"{_central.State}";
                InvokeAsync(StateHasChanged);
            },
            ex => logger.LogError(ex, "Error while refreshing state view")
        );

        ScanFresh();
    } 
    
    void ScanFresh()
    {
        peripherals.Discoveries.Clear();
        
        if (_central.State == CBManagerState.PoweredOn)
        {
            _central.ScanForPeripherals(peripheralUuids: null);    
        }
    }

    void Connect(string peripheralId)
    {
        var discovered = peripherals.Discoveries[peripheralId];
        
        logger.LogInformation("initiating connection to {peripheral}", discovered.Peripheral);
        
        _central.ConnectPeripheral(discovered.Peripheral);
    }

    void Stop()
    {
        _central.StopScan();
    }
}

