@page "/weather"
@using CoreBluetooth
@using Microsoft.Extensions.Logging
@using Nativno.Bluetooth.Mac.Playground.Helpers

@if (selectedService.Instance == null)
{
    <p><em>No service selected yet</em></p>
}
else
{
    <ul>
        @foreach (var c in _service.Characteristics ?? [])
        {
            <li>@c.Value
                * @c.Descriptors 
                * @c.Properties
                * IsBroadcasted: @c.IsBroadcasted
                * IsNotifying: @c.IsNotifying
                * @c.Description
            </li>
        }
    </ul>
}

@inject SelectedService selectedService
@inject ILogger<Weather> _logger

@code {
    private CBService _service = null!;

    protected override void OnInitialized()
    {
        if (selectedService.Instance == null)
        {
            return;
        }
        
        _service = selectedService.Instance!;
        _service.Peripheral!.DiscoverCharacteristics(_service);

        _service.Peripheral.DiscoveredCharacteristics += (_, args) =>
        {
            foreach (var ch in args.Service.Characteristics!)
            {
                if (ch.Properties.HasFlag(CBCharacteristicProperties.Read))
                {
                    _logger.LogInformation("Initiating ReadValue for {ch}", ch);   
                    _service.Peripheral.ReadValue(ch);
                }

                if (ch.Properties.HasFlag(CBCharacteristicProperties.Notify))
                {
                    _logger.LogInformation("Initiating Notify true for {ch}", ch);
                    _service.Peripheral.SetNotifyValue(true, ch);
                }
            }
        };

        _service.Peripheral.UpdatedCharacterteristicValue += (_, args) => InvokeAsync(StateHasChanged);
        _service.Peripheral.UpdatedValue += (_, args) => InvokeAsync(StateHasChanged);
        _service.Peripheral.UpdatedNotificationState += (_, args) => InvokeAsync(StateHasChanged);

        _service.Peripheral.UpdatedCharacterteristicValue += (_, args) => _logger.LogInformation("UpdatedCharacteristicValue");
        _service.Peripheral.UpdatedValue += (_, args) => _logger.LogInformation("UpdatedValue");
        _service.Peripheral.UpdatedNotificationState += (_, args) => _logger.LogInformation("UpdatedNotificationState");
    }
}
